Repository RudolfWorou/tweetoscope: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kafka_image_job, Generator_image_job, logger_image_job, collector_image_job, estimator_image_job, predictor_image_job, monitor_image_job

.gitlab-ci.yml:

stages:
    - create_docker_images
    - build_deployments

services: 
    - docker:dind
kafka_image_job :
    stage: create_docker_images
    image: docker:latest
    script:
        - cd Kafka
        - docker build -f Dockerfile_start_kafka -t ubuntu_with_kafka .
    only:
        changes:
            - Kafka/**/*
services: 
    - docker:dind
Generator_image_job :
    stage: create_docker_images
    image: docker:latest
    script:
        - cd Generator
        - docker build -f Dockerfile_generator -t ubuntu_with_generator .
    only:
        changes:
            - Generator/**/*

services: 
    - docker:dind
logger_image_job :
    stage: create_docker_images
    image: docker:latest
    script:
        - cd Logger
        - docker build -f Dockerfile_logger -t python_with_logger .
    only:
        changes:
            - Logger/**/*

services: 
    - docker:dind
collector_image_job :
    stage: create_docker_images
    image: docker:latest
    script:
        - cd Collector
        - docker build -f Dockerfile_collector -t python_with_collector .
    only:
        changes:
            - Collector/**/*

services: 
    - docker:dind
estimator_image_job :
    stage: create_docker_images
    image: docker:latest
    script:
        - cd Estimator
        - docker build -f Dockerfile_estimator -t python_with_estimator .
    only:
        changes:
            - Estimator/**/*
services: 
    - docker:dind
predictor_image_job :
    stage: create_docker_images
    image: docker:latest
    script:
        - cd Predictor
        - docker build -f Dockerfile_predictor -t python_with_predictor .
    only:
        changes:
            - Predictor/**/*

services: 
    - docker:dind
monitor_image_job :
    stage: create_docker_images
    image: docker:latest
    script:
        - cd Monitor
        - docker build -f Dockerfile_monitor -t python_with_monitor .
    only:
        changes:
            - Monitor/**/*

Update .gitlab-ci.yml by adding the learner image build
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml by removing the predictor which is not done yet
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml changing learner folder
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml with login and push images to registry
  .gitlab-ci.yml
Due: none

Update Dockerfile_learner
  Learner/Dockerfile_learner
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update learner.py changing pickle5 to pickle
  Learner/learner.py
Due: none

Update Dockerfile_learner pickle5 to pickle
  Learner/Dockerfile_learner
Due: none

Update Dockerfile_learner no pickle install
  Learner/Dockerfile_learner
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

predictor implementation and Hawkes fix
  Estimator/hawkes_estimator.py
  Estimator/labwork_functions.py
  Learner/predictor.py
Due: estimator_image_job

Learner for predictor
  Learner/learner.py
Due: none

modified Hawkes and Predictor
  Predictor/predictor.py
Due: predictor_image_job

topic msg modified
  Estimator/hawkes_estimator.py
  Estimator/labwork_functions.py
Due: estimator_image_job

Predictor fix & docker file
  Predictor/Dockerfile_predictor
  Predictor/predictor.py
Due: predictor_image_job

adding Logegr
  Predictor/logger.py
Due: predictor_image_job

fix estimator, predictor and adding dashboard
  Dashboard/Dockerfile_monitor
  Dashboard/dashboard.py
  Estimator/hawkes_estimator.py
  Predictor/predictor.py
Due: estimator_image_job, predictor_image_job

Adding window size 300 to collector
  Collector/Collector.py
Due: collector_image_job

Ajout de quelques modifications
  .gitlab-ci.yml
  Collector/Cascade.py
  Collector/Collector.py
  Collector/Processor.py
Due: collector_image_job

update the consumers by using the earliest messages and and using the given kafka serverproperties and zookeeper properties
  Collector/Collector.py
  Dashboard/Dockerfile_monitor
  Dashboard/dashboard.py
  Estimator/hawkes_estimator.py
  Kafka/Dockerfile_start_kafka
  Learner/learner.py
  Monitor/monitor.py
  Predictor/predictor.py
Due: kafka_image_job, collector_image_job, estimator_image_job, predictor_image_job, monitor_image_job

Dernière modification des fichiers avant le processus de déploiement
  Collector/Collector.py
Due: collector_image_job

Update du fichier yml
  .gitlab-ci.yml
Due: none

update du fichier yml
  .gitlab-ci.yml
Due: none

update
  .gitlab-ci.yml
Due: none

Ajout des fichiers de déploiement pour la version finale
  .gitlab-ci.yml
  deploiement_zookeper_kafka.yml
  deploiment_code.yml
Due: none

Ajout des fichiers de déploiement pour la version finale
  .gitlab-ci.yml
Due: none

Ajout des fichiers de déploiement pour la version finale
  Predictor/Dockerfile_predictor
Due: predictor_image_job
