Repository RudolfWorou/tweetoscope: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kafka_build, Generator_build, logger_build, collector_build, estimator_build, predictor_build, learner_build, monitor_image_job, dashboard_build

Path conditions:
  kafka_build: any of: Kafka/**/*
  Generator_build: any of: Generator/**/*
  logger_build: any of: Logger/**/*
  collector_build: any of: Collector/**/*
  estimator_build: any of: Estimator/**/*
  predictor_build: any of: Predictor/**/*
  learner_build: any of: Learner/**/*
  monitor_image_job: any of: Monitor/**/*
  dashboard_build: any of: Dashboard/**/*

removing partitions from predictor and learner
  Learner/Dockerfile_learner
  Learner/learner.py
  Predictor/predictor.py
Due: predictor_build, learner_build

changing the topic value in consumer 1
  Predictor/predictor.py
Due: predictor_build

comment key and not using partitions
  Predictor/predictor.py
Due: predictor_build

adding topic input to consumer 1 predictor
  Predictor/Dockerfile_predictor
Due: predictor_build

Récupération de l'ancien collector
  Collector/Collector.py
  Collector/Processor.py
Due: collector_build

Récupération de l'ancien collector
  Collector/Collector.py
Due: collector_build

Modification du fichier processor
  Collector/Processor.py
Due: collector_build

Bonne version du collector
  Collector/Collector.py
  Collector/Processor.py
Due: collector_build

update generator
  Generator/tweet-generator.cpp
Due: Generator_build

Version finale de l'application et il reste juste à repliquer l'application
  Collector/Collector.py
Due: collector_build

Ajustement de la variable G1
  Predictor/predictor.py
Due: predictor_build

Ajustement de la variable G1
  Collector/Processor.py
Due: collector_build

Ajustement de la variable G1
  Collector/Collector.py
  Predictor/predictor.py
Due: collector_build, predictor_build

refactorisation de tous les dossiers avant une livraison finale du projet
  .gitlab-ci.yml
  Collector/Collector.py
  Collector/collector.ini
  Dashboard/dashboard.py
  Deploiement/cluster/deploiement_zookeper_kafka.yml
  Deploiement/cluster/deploiment_code.yml
  Deploiement/minikube/minikube_deploiement_code.yml
  Deploiement/minikube/minikube_deploiement_zookeper_kafka.yml
  Dockerfiles/Dockerfile_collector
  Dockerfiles/Dockerfile_dashboard
  Dockerfiles/Dockerfile_estimator
  Dockerfiles/Dockerfile_generator
  Dockerfiles/Dockerfile_learner
  Dockerfiles/Dockerfile_logger
  Dockerfiles/Dockerfile_monitor
  Dockerfiles/Dockerfile_predictor
  Dockerfiles/Dockerfile_start_kafka
  Estimator/Dockerfile_estimator
  Estimator/hawkes_estimator.py
  Generator/Dockerfile_generator
  Kafka/Dockerfile_start_kafka
  Predictor/predictor.py
  rapportProjet.docx
Due: kafka_build, Generator_build, collector_build, estimator_build, predictor_build, dashboard_build

refactorisation de tous les dossiers avant une livraison finale du projet
  Dockerfiles/Dockerfile_collector
  Dockerfiles/Dockerfile_dashboard
  Dockerfiles/Dockerfile_estimator
  Dockerfiles/Dockerfile_generator
  Dockerfiles/Dockerfile_learner
  Dockerfiles/Dockerfile_logger
  Dockerfiles/Dockerfile_monitor
  Dockerfiles/Dockerfile_predictor
  Dockerfiles/Dockerfile_start_kafka
Due: none

refactorisation de tous les dossiers avant une livraison finale du projet
  Collector/Collector.py
  Dashboard/dashboard.py
  Dockerfiles/Dockerfile_estimator
  Dockerfiles/Dockerfile_learner
  Dockerfiles/Dockerfile_logger
  Dockerfiles/Dockerfile_monitor
  Dockerfiles/Dockerfile_predictor
  Dockerfiles/Dockerfile_start_kafka
  Estimator/labwork_functions.py
  Generator/tweet-generator.cpp
  Kafka/kafka.sh
  Learner/learner.py
  Logger/logger.py
  Monitor/monitor.py
Due: kafka_build, Generator_build, logger_build, collector_build, estimator_build, learner_build, monitor_image_job, dashboard_build

Update README.md
  README.md
Due: none

refactorisation de tous les dossiers avant une livraison finale du projet
  .gitlab-ci.yml
  Deploiement/cluster/deploiement_zookeper_kafka.yml
  Deploiement/cluster/deploiment_code.yml
  Dockerfiles/Dockerfile_collector
  Dockerfiles/Dockerfile_dashboard
  Dockerfiles/Dockerfile_estimator
  Dockerfiles/Dockerfile_generator
  Dockerfiles/Dockerfile_learner
  Dockerfiles/Dockerfile_logger
  Dockerfiles/Dockerfile_monitor
  Dockerfiles/Dockerfile_predictor
  Dockerfiles/Dockerfile_start_kafka
  README.md
Due: none

refactorisation de tous les dossiers avant une livraison finale du projet
  Collector/Dockerfile_collector
  Dashboard/Dockerfile_dashboard
  Estimator/Dockerfile_estimator
  Generator/Dockerfile_generator
  Kafka/Dockerfile_start_kafka
  Learner/Dockerfile_learner
  Logger/Dockerfile_logger
  Monitor/Dockerfile_monitor
  Predictor/Dockerfile_predictor
Due: kafka_build, Generator_build, logger_build, collector_build, estimator_build, predictor_build, learner_build, monitor_image_job, dashboard_build

refactorisation de tous les dossiers avant une livraison finale du projet
  Generator/Dockerfile_generator
Due: Generator_build

Ajout du vrai fichier de déploiement
  Dashboard/dashboard.py
  Deploiement/cluster/deploiement_kafka_zookepeer.yml
  Deploiement/cluster/deploiement_zookeper_kafka.yml
Due: dashboard_build

test video
  Collector/Collector.py
  Estimator/hawkes_estimator.py
  Generator/tweet-generator.cpp
  Learner/learner.py
  Monitor/monitor.py
  Predictor/predictor.py
Due: Generator_build, collector_build, estimator_build, predictor_build, learner_build, monitor_image_job

test video_2
  Collector/Collector.py
  Estimator/hawkes_estimator.py
  Generator/tweet-generator.cpp
  Learner/learner.py
  Monitor/monitor.py
  Predictor/predictor.py
Due: Generator_build, collector_build, estimator_build, predictor_build, learner_build, monitor_image_job

using dockerhub image
  Generator/Dockerfile_generator
Due: Generator_build

change from rudolfworou/ubuntu to ubuntu in generator
  Generator/Dockerfile_generator
Due: Generator_build

pres
  Collector/Collector.py
  Estimator/hawkes_estimator.py
  Generator/tweet-generator.cpp
  Learner/learner.py
  Monitor/monitor.py
  Predictor/predictor.py
Due: Generator_build, collector_build, estimator_build, predictor_build, learner_build, monitor_image_job

Avant de denier commit
  .gitlab-ci.yml
  Collector/Collector.py
  Dashboard/dashboard.py
  Deploiement/cluster/deploiement_kafka_zookepeer.yml
  Deploiement/cluster/deploiment_code.yml
  Generator/Dockerfile_generator
  Learner/learner.py
  Predictor/predictor.py
  rapportProjet.docx
  rapportProjet.pdf
  ~$pportProjet.docx
  ~WRL3616.tmp
Due: Generator_build, collector_build, predictor_build, learner_build, dashboard_build

Avant dernier commit
  README.md
Due: none

presentation
  Collector/Collector.py
  Estimator/hawkes_estimator.py
  Generator/tweet-generator.cpp
  Learner/learner.py
  Monitor/monitor.py
  Predictor/predictor.py
Due: Generator_build, collector_build, estimator_build, predictor_build, learner_build, monitor_image_job

update dockerfile generator
  Generator/Dockerfile_generator
Due: Generator_build

presentation
  Collector/Collector.py
Due: collector_build

Dernier commit de l'application contenant le rapport final et le readme
  README.md
  rapportProjet.docx
  rapportProjet.pdf
Due: none
